{% extends 'base.html' %}

{% block title %}EX04AIO I/O Interface{% endblock %}

{% block content %}
  <section>
    <h1>EX04AIO I/O Interface</h1>
    <div class="aio-container">
      <table class="aio-table">
        <thead>
          <tr>
            <th>Channel</th>
            <th>Raw Out</th>
            <th>Phys Out (mA)</th>
            <th>% Out</th>
            <th>Set %</th>
          </tr>
        </thead>
        <tbody id="aioBody"></tbody>
      </table>
    </div>
  </section>

  <!-- Laad socket.io library -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
  <!-- Laad aio.js -->
  <script src="{{ url_for('static', filename='js/aio.js') }}"></script>
{% endblock %}