{% extends "base.html" %}

{% block title %}Obelix SCADA Dashboard{% endblock %}

{% block content %}
<p style="color:red; font-weight:bold">🐵 Jinja geladen!</p>

  <h1>Obelix SCADA Dashboard</h1>
  <div class="control-group">
    <a href="{{ url_for('relays') }}"    class="primary-btn">Relays</a>
    <a href="{{ url_for('sensors') }}"   class="primary-btn">Sensors</a>
    <a href="{{ url_for('calibrate') }}" class="primary-btn">Sensor Ranges</a>
    <a href="{{ url_for('aio') }}"       class="primary-btn">EX04AIO I/O</a>
    <a href="{{ url_for('r302') }}"      class="primary-btn">R302 Reactor</a>
  </div>
{% endblock %}
