<!-- templates/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Obelix SCADA Dashboard{% endblock %}

{% block content %}
  <h1>Obelix SCADA Dashboard</h1>
  <div class="control-group">
    <a href="{{ url_for('relays') }}"            class="primary-btn">Relays</a>
    <a href="{{ url_for('sensors') }}"           class="primary-btn">Sensors</a>
    <a href="{{ url_for('calibrate') }}"         class="primary-btn">Sensor Ranges</a>
    <a href="{{ url_for('aio') }}"               class="primary-btn">EX04AIO I/O</a>
    <a href="{{ url_for('r302') }}"              class="primary-btn">R302 Reactor</a>
    <a href="{{ url_for('sbr') }}"               class="primary-btn">SBR Control</a>
    <a href="https://raspi52.tail239abf.ts.net/grafana/public-dashboards/cdb7db159cbd42dabe8e5d8e09ab2eac"
       target="_blank"
       class="primary-btn">Trends</a>
    <a href="{{ url_for('dummy.dummy_page') }}"  class="primary-btn">Dummy Sensors</a>
  </div>
{% endblock %}
