{% extends 'base.html' %}

{% block title %}Sensor Uitlezingen{% endblock %}

{% block content %}
  <h1>Sensor Uitlezingen</h1>
  <div class="sensor-container">
    <table id="sensorTable" class="sensor-table">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Slave ID</th>
          <th>Kanaal</th>
          <th>Ruwe Waarde</th>
          <th>Gekalibreerd</th>
          <th>Eenheid</th>
        </tr>
      </thead>
      <tbody id="sensorBody">
        <tr><td colspan="6" class="no-data">Wachten op data…</td></tr>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/sensors.js') }}"></script>
{% endblock %}
